<div class="col-sm-5 form-box wow fadeInUp animated well" style="visibility: visible; animation-name: fadeInUp;">
	<div class="form-top">
		<div class="from-top-left"><h3>Login here!</h3></div>
	</div>
	<div calss="form-bottom">
		<form ng-submit="Login()">
			<div class = "from-group" >
				<input ng-model="UserAadhaarNumber" type="text" class="form-control" placeholder="AadharNumber/Email-Id"  required/><br>
			    <input ng-model="UserPassword" type="password" class="form-control" placeholder="Password" required /><br>
			    <!-- <input name="Password" type="password" class="form-control input-md" placeholder="Confirm Password" required /><br>-->
			    <input type = "submit" value = "Login" class = "btn btn-block btn-primary">
			</div>
		</form>
	</div>
</div>