
<div class="col-sm-5 form-box wow fadeInUp animated well" style="visibility: visible; animation-name: fadeInUp;">
	<div class="form-top">
		<div class="from-top-left"><h3>Sign-up here!</h3></div>
	</div>
	<div calss="form-bottom">
		<form ng-submit="SignUp()">
			<div class = "from-group" >
				<input ng-model="UserAadhaarNumber" type="number" class="form-control" placeholder="AadharNumber"  required/><br>
			    <input ng-model="UserEmailId" type="email" class="form-control" placeholder="Email-Id"  required/><br>
			    <input ng-model="UserMobile" type="text" class="form-control" placeholder="Phone"  required/><br>
			    <input ng-model="UserPassword" type="password" class="form-control" placeholder="Password" required /><br>
			    <!-- <input name="Password" type="password" class="form-control input-md" placeholder="Confirm Password" required /><br>-->
			    <input type = "submit" value = "Sign-Up" class = "btn btn-block">
			</div>
		</form>
	</div>
</div>
