<div class="row">
<div class="col-sm-3"></div>
<div class="col-sm-6 form-box wow fadeInUp animated well" style="visibility: visible; animation-name: fadeInUp;">
	<div class="form-top">
		<div class="from-top-left"><h3>Birth Certificate Registration Form</h3></div>
	</div>
	<div calss="form-bottom">
		<form name="userForm" ng-submit="SignUp()">
			<div class = "from-group" >
				
				Child Name :
				<input ng-model="name" name="name" type="text" class="form-control" placeholder="Child Name"  required/>
				<div class="help-block" style="color: red" ng-messages="userForm.name.$error" ng-if="userForm.name.$touched">
					<p ng-message="required">*Child name is required</p>
				</div>
				<br>
			    
			    Fathers Name :
				<input ng-model="fathersName" name="FathersName" type="text" class="form-control" placeholder="Fathers Name"  required/>
				<div class="help-block" style="color: red" ng-messages="userForm.FathersName.$error" ng-if="userForm.FathersName.$touched">
					<p ng-message="required">*Fathers name is required</p>
				</div>
				<br>
				
			    Mothers Name :
				<input ng-model="mothersName" name="MothersName" type="text" class="form-control" placeholder="Mothers Name"  required/>
				<div class="help-block" style="color: red" ng-messages="userForm.MothersName.$error" ng-if="userForm.MothersName.$touched">
					<p ng-message="required">*Mothers name is required</p>
				</div>
				<br>
				
			    Date of Birth :
				<input ng-model="dateOfBirth" name="DateofBirth" type="date" class="form-control" placeholder="Date of Birth"  required/>
				<div class="help-block" style="color: red" ng-messages="userForm.DateofBirth.$error" ng-if="userForm.DateofBirth.$touched">
					<p ng-message="required">*Date of birth is required</p>
				</div>
				<br>
				
			    Place of Birth :
				<input ng-model="placeOfBirth" name="palce" type="text" class="form-control" placeholder="Place of Birth"  required/>
				<div class="help-block" style="color: red" ng-messages="userForm.place.$error" ng-if="userForm.place.$touched">
					<p ng-message="required">*Place of birth is required</p>
				</div>
				<br>
				
			    District :
				<select ng-model="district" class="form-control">
					<option value="Gorakhpur" selected="true">Gorakhpur</option>
				</select>
				<br>
				
				Sex :
				<select ng-model="sex" class="form-control">
					<option value="Male" selected>Male</option>
					<option value="Female">Female</option>
				</select>
			    <br>
			    
			    <input type = "submit" value = "Register" class = "btn btn-block btn-primary">
			</div>
		</form>
	</div>
</div>
<div class="col-sm-3"></div>
</div>
