<div class="row">
<div class="col-sm-3"></div>
<div class="col-sm-6 form-box wow fadeInUp animated well" style="visibility: visible; animation-name: fadeInUp;">
	<div class="form-top">
		<div class="from-top-left"><h3>Birth Certificate Registration Form!</h3></div>
	</div>
	<div calss="form-bottom">
		<form ng-submit="SignUp()">
			<div class = "from-group" >
				Child Name :
				<input ng-model="UserAadhaarNumber" type="number" class="form-control" placeholder="AadharNumber"  required/><br>
			    Fathers Name :
				<input ng-model="UserAadhaarNumber" type="number" class="form-control" placeholder="AadharNumber"  required/><br>
			    Mothers Name :
				<input ng-model="UserAadhaarNumber" type="number" class="form-control" placeholder="AadharNumber"  required/><br>
			    Date of Birth :
				<input ng-model="UserAadhaarNumber" type="number" class="form-control" placeholder="AadharNumber"  required/><br>
			    Place of Birth :
				<input ng-model="UserAadhaarNumber" type="number" class="form-control" placeholder="AadharNumber"  required/><br>
			    District :
				<input ng-model="UserAadhaarNumber" type="number" class="form-control" placeholder="AadharNumber"  required/><br>
			    Sex :
				<input ng-model="UserAadhaarNumber" type="number" class="form-control" placeholder="AadharNumber"  required/><br>
			    
			    <input type = "submit" value = "Sign-Up" class = "btn btn-block">
			</div>
		</form>
	</div>
</div>
<div class="col-sm-3"></div>
</div>
