<div class="row">
<div class="col-sm-3"></div>
<div class="col-sm-6 form-box wow fadeInUp animated well" style="visibility: visible; animation-name: fadeInUp;">
	<div class="form-top">
		<div class="from-top-left"><h2><b>Caste Certificate Registration Form</b></h2></div>
	</div>
	<div calss="form-bottom">
		<form name="userForm" ng-submit="apply()">
			<div class = "from-group" >
				
				<select class="form-control" ng-model="data.caste" ng-change="selectedItemChanged()">
					<option value="sc">SCHEDULE CASTE</option>
					<option value="st">SCHEDULE TRIBE</option>
					<option value="obc">OTHER BACKWARD CASTE</option>
					<option value="general">GENERAL CASTE</option>
    			</select>
				
				
				
				
<div ng-show="sc">
	<h3>Subcaste SC</h3> :
	<select class="form-control" ng-model="data.subcaste">
		<option value="AHARIYA">AHARIYA</option>
		<option value="GOND">GOND</option>
		<option value="JATAV">JATAV</option>
		<option value="DHOBI">DHOBI</option>
		<option value="KAPARIYA">KAPARIYA</option>
		<option value="KANJAR">KANJAR</option>
		<option value="PATARI">PATARI</option>
		<option value="PASI">PASI</option>
		<option value="SANSIYA">SANSIYA</option>
		<option value="SHILPKAR">SHILPKAR</option>
		<option value="TURAIHA">TURAIHA</option>
	</select>
</div>

<div ng-show="general">
	<h3>Subcaste General</h3> :
	<select class="form-control" ng-model="data.subcaste">
		<option value="SINGH">SINGH</option>
		<option value="PANDEY">PANDEY</option>
		<option value="SRIVASTAV">SRIVASTAV</option>
		<option value="RAI">RAI</option>
		<option value="GUPTA">GUPTA</option>
		<option value="TIWARI">TIWARI</option>
		<option value="DUBEY">DUBEY</option>
		<option value="KHAN">KHAN</option>
		<option value="SIDDHIQUE">SIDDHIQUE</option>
		<option value="AHMED">AHMED</option>
		<option value="ANSARI">ANSARI</option>
	</select>
</div>

<div ng-show="obc">
	<h3>Subcaste OBC</h3> :
	<select class="form-control" ng-model="data.subcaste">
		<option value="NISHAD">NISHAD</option>
		<option value="YADAV">YADAV</option>
		<option value="PRAJAPATI">PRAJAPATI</option>
		<option value="KURMI">KURMI</option>
		<option value="PATEL">PATEL</option>
		<option value="BAGHEL">BAGHEL</option>
		<option value="CHAURASHIYA">CHAURASHIYA</option>
		<option value="TELI">TELI</option>
		<option value="GHANDHI">GHANDHI</option>
		<option value="DARJI">DARJI</option>
		<option value="IDRISI">IDRISI</option>
	</select>
</div>

<div ng-show="st">
	<h3>Subcaste ST</h3> :
	<select class="form-control" ng-model="data.subcaste">
		<option value="Bakarwal">Bakarwal</option>
		<option value="Balti">Balti</option>
		<option value="Beda">Beda</option>
		<option value="Changpa">Changpa</option>
		<option value="Gaddi">Gaddi</option>
		<option value="Garra">Garra</option>
		<option value="Gujjar">Gujjar</option>
		<option value="Mon">Mon</option>
		<option value="Purigpa">Purigpa</option>
		<option value="Sippi">Sippi</option>
		<option value="Brokpa">Brokpa</option>
	</select>
</div>
	<br>
	
	<div class="panel panel-default">
					<div class="panel-header">
						<input type="checkbox" name="check2" ng-model="user.check2" ng-value="true" required><b>Other User Details</b>
		      		</div>
		      		<div class="panel-body">
			      		Rest of your details will be tooked from your aadhaar detail, such as :<br>
				      		-Your full name<br>
				      		-Your fathers name<br>
				      		-Your residential address<br>
				      		-Age<br>
			      		If you agree with this and have all your details are valid and correct on your card then tick the check box.
			      	</div>
	    		</div>
	    		<div class="help-block" style="color: red" ng-messages="userForm.check2.$error" ng-if="userForm.check2.$touched">
					<p ng-message="required">* "Other User Details" agreement written below must be checked before applying.</p>
				</div>
				<br>

				
				
				
				
			    <input type = "submit" value = "APPLY" class = "btn btn-block btn-primary">
			</div>
		</form>
	</div>
</div>
<div class="col-sm-3"></div>
</div>
